.filter {
    .filFind {
      width: 348px;
      height: 85px;
      margin: 0 auto 20px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .subTitle {
      font-size: 24px;
      font-family: Inter, Inter-Regular;
      font-weight: 400;
      text-align: center;
      color: #030201;
      line-height: 60px;
      margin-bottom: 50px;
    }
    .searchRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      :global {
        .ant-input-group-wrapper {
          width: 650px;
          height: 55px;
          box-shadow: 0px 4px 10px -2px rgba(86, 126, 238, 0.1);
          .ant-input-affix-wrapper {
            height: 55px;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 10px 0 0 10px;
            border: 1px solid var(--color-0064EF);
            .ant-input {
              background: transparent;
            }
          }
          .ant-input-group{
            width: 100%;
            height: 100%;
            .ant-input{
              height: 100%;
              border-top-left-radius:10px;
              border-bottom-left-radius:10px;
            }
            .ant-input-search-button{
              width: 120px;
              height: 100%;
              background-color: #0064EF;
              border-radius: 0px 10px 10px 0px;
            }
            .ant-input-group-addon{
              border-radius: 10px;
            }
          }
        }
        .button{
          display: flex;
          width: 120px;
          height: 55px;
          background: rgba(255,255,255,0.20);
          border: 1px solid rgba(0,100,239,0.60);
          border-radius: 10px;
          box-shadow: 0px 4px 10px -2px rgba(86,126,238,0.10);
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .text{
            margin-right: 10px;
          }
        }
      }
    }
  }
  