.resetPassword {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(167deg,var(--color-f5fcff-4), var(--color-f7fcff-47), var(--color-dcedfb-96));
  .headerContent {
    width: 100%;
    padding: 20px 160px;
    .left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .logo {
        width: 50px;
        height: 50px;
        cursor: pointer;
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .menuList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menuItem {
          font-size: 14px;
          color: #475569;
          margin-left: 30px;
          cursor: pointer;
          &.active{
            color: var(--color-1B6DF3);
          }
        }
      }
    }
  }
  .resetPassword_content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 260px;
    flex: 1;
    .bgWrap{
      flex-shrink: 1;
      flex: 1;
      margin-right: 60px;
      img {
        width: 100%;
        max-width: 1069px;
      }
    }
    

    .resetPassword__form {
      flex-shrink: 0;
      width: 532px;
      padding: 46px 46px;
      background: var(--color-white-50);
      border: 1px solid var(--text-color-white);
      border-radius: 30px;
      box-shadow: 0 1px 14px 0 rgba(205, 223, 244, 0.78);
      backdrop-filter: blur(4px);

      .title {
        margin-bottom: 10px;
        font-size: 30px;
        font-family: Inter, Inter-Bold, serif;
        font-weight: 700;
        text-align: left;
        color: var(--text-color-030201);
        line-height: 34px;
      }

      .description {
        margin-bottom: 40px;
        font-size: 12px;
        font-family: PingFangSC, PingFangSC-Medium, serif;
        font-weight: 400;
        text-align: left;
        color: var(--text--color-94A3B8);
        line-height: 20px;

        a {
          margin-left: 10px;
        }
      }

      .agreement {
        padding-top: 30px;
        margin-right: 46px;
        font-size: 12px;
        font-family: PingFangSC, PingFangSC-Regular, serif;
        font-weight: 400;
        text-align: left;
        color: var(--text--color-94A3B8);
        line-height: 20px;
      }

      .link {
        display: block;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        color: var(--text-color-1B6DF3);
        text-align: center;
      }

      :global {
        .codeWrap{
          text-align: right;
          .send{
            height: 45px;
            border: 1px solid #1b6df3;
            border-radius: 10px;
            font-size: 14px;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            text-align: center;
            color: #1b6df3;
            line-height: 45px;
            cursor: pointer;

          }
          .second{
            color: #94A3B8;
            height: 45px;
            opacity: 0.5;
            border: 1px solid #94a3b8;
            border-radius: 10px;
            font-size: 14px;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            text-align: center;
            line-height: 45px;
          }
        }

        .ant-form-item {
          margin-bottom: 25px;

          

          &:nth-last-of-type(2) {
            margin-bottom: 40px;
          }

          &:nth-last-of-type(1) {
            margin-bottom: 0;

            .ant-btn {
              width: 100%;
              height: 45px;
              background: var(--color-1B6DF3);
              border-radius: 10px;
              color: var(--text-color-white);

              &[disabled] {
                opacity: 0.5;
              }
            }
          }

          .ant-form-item-label {
            height: 14px;
            padding-bottom: 12px;
            line-height: 14px;
            flex: 1;

            .ant-form-item-required {
              font-size: 14px;
              font-family: PingFangSC, PingFangSC-Medium, serif;
              font-weight: 500;
              text-align: left;
              color: var(--text-color-475569);
              line-height: 14px;
            }
          }

          .ant-form-item-control {
            .ant-form-item-control-input-content > .ant-input {
              height: 45px;
              border-radius: 10px;
            }

            .ant-input-affix-wrapper {
              height: 45px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
  
}
