.rank {
    padding: 30px;
    .rankTitleRow{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      .editWrap{
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 30px;
        display: flex;
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
    .rankAddress {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 40px;
      padding: 8px;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #f0f5ff);
      .no{
        font-size: 14px;
        font-family: SourceHanSansCN, SourceHanSansCN-Bold;
        font-weight: 700;
        text-align: left;
        color: var(--color-1B6DF3);
        line-height: 21px;
      }
      .address {
        font-size: 18px;
        font-family: YouSheBiaoTiHei;
        text-align: center;
        color: var(--color-1B6DF3);
        line-height: 23px;
        font-weight: 700;
      }
      .no {
        margin-right: 10px;
      }
    }
    .list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
      .item {
        margin-bottom: 15px;
        font-size: 14px;
        font-family: Inter, Inter-Regular;
        font-weight: 400;
        text-align: left;
        color: #475569;
        line-height: 14px;
        flex: 0 0 calc(100% / 3);
        display: flex;
        align-items: center;
        .itemValue{
          font-weight: bold;
          color: var(--color-2B2B2B);
        }
      }
    }
  }
  