.detail {
  padding: 30px;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 8px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #f0f5ff);
    margin-bottom: 20px;
    font-size: 18px;
    font-family: YouSheBiaoTiHei;
    text-align: left;
    color: #1b6df3;
    line-height: 23px;
    font-weight: bold;
    .text{
      flex: 1;
    }
    .editWrap{
      width: 16px;
      height: 16px;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .item {
      margin-bottom: 15px;
      font-size: 14px;
      font-family: Inter, Inter-Regular;
      font-weight: 400;
      text-align: left;
      color: #475569;
      line-height: 14px;
      flex: 0 0 calc(100% / 3);
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .requirement {
    background: rgba(247, 250, 255, 0.8);
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    color: #64748b;
  }
}
